$susy: (
  columns: 12,
  container: 1024px,
  gutters: 1/4,
  gutter-position: after,
  global-box-sizing: border-box,
  // debug: (image: show)
);

$susy-small: (
  columns: 4,
  gutters: 1/4,
  gutter-position: after,
  global-box-sizing: border-box,
  // debug: (image: show)

);

// BREAKPOINTS

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1400px;

// COLORS

$base-color: #1c314a;
$base-color-light: #606e80;
$bg-color: #f6f9fd;
$link-color: #de8e26;
$link-color: #279fde;
$test-color: #f3ebff;

// TYPOGRAPHY SETTINGS

$modularscale: (
  base: 1rem,
  ratio: 1.2
);

// @debug ms(-2), ms(-1) ms(0), ms(1), ms(2), ms(3), ms(4), ms(5);
//DEBUG: 0.69444rem, 0.83333rem 1rem, 1.2rem, 1.44rem, 1.728rem, 2.0736rem, 2.48832rem

$base-font-size: map-get($modularscale,base);

$base-line-height: 1.625rem;

$font-size-1: ms(5);
$font-size-2: ms(4);
$font-size-3: ms(3);
$font-size-4: ms(2);
$font-size-5: ms(1);
$font-size-6: ms(0);
$font-size-7: ms(-1);
$font-size-8: ms(-2);


// MESURMENTS

$rhythm: $base-line-height;

// EXPERIMENTS

$doc-font-size: ms(0);
$doc-line-height: $base-line-height;

@mixin font-size($size) {
  font-size: $size;
  line-height: ceil($size / $doc-line-height) * ($doc-line-height / $size);
  margin-bottom: ($doc-line-height / $doc-font-size)+rem;
}
















