@font-face {
    font-family: 'proxima-nova-thin';
    src: asset_url('fonts/proximanova-thin-webfont.woff2') format('woff2'),
         asset_url('fonts/proximanova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-regular';
    src: asset_url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         asset_url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-regular-italic';
    src: asset_url('fonts/proximanova-regular-italic-webfont.woff2') format('woff2'),
         asset_url('fonts/proximanova-regular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-semibold';
    src: asset_url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         asset_url('fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima-nova-bold';
    src: asset_url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         asset_url('fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-black';
    src: asset_url('fonts/proximanova-black-webfont.woff2') format('woff2'),
         asset_url('fonts/proximanova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
