<header class="site-header-wrapper" role="banner">
  <div class="container site-header">
    <a class="site-logo" href="{{ "/" | relative_url }}">
        <svg version="1.1" class="site-logo__svg" id="aj-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="78px" height="26px" viewBox="0 -2.5 78 26" enable-background="new 0 -2.5 78 26" xml:space="preserve">
          <g>
            <polygon points="46.059,23.5 40.998,14.712 44.282,14.712 47.632,20.525 54.153,20.525 65.729,0.475 52.658,0.475 52.658,-2.5 
              70.729,-2.5 55.718,23.5   "/>
          </g>
          <g>
            <polygon points="59.925,23.5 74.935,-2.5 78,-2.5 63.204,23.5  "/>
          </g>
          <g>
            <polygon points="0,23.5 15.013,-2.5 18.294,-2.5 3.283,23.5  "/>
          </g>
          <g>
            <path d="M38.566,23.5l-3.958-6.854H14.722L10.764,23.5H7.481l15.013-26h4.343l15.012,26H38.566z M16.441,13.669h16.451
              L24.667-0.577L16.441,13.669z"/>
          </g>
        </svg>
    </a>  
    <nav class="main-nav">
      <ul>
        <li class="main-nav__item">
          <a class="main-nav__link {% if page.layout == 'project' or page.url == '/' %}{{'current'}}{% endif %}" href="{{ "/" | relative_url }}">Work</a></li>
        {% for p in site.pages %}
          {% if p.layout == 'page' %}
            <li class="main-nav__item">
              <a class="main-nav__link {% if p.url == page.url %}{{'current'}}{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
