.container { 
	padding: 0 rhythm();
	@include susy-breakpoint($mobile, $susy-small) { @include container; }

	// TABLET
	
	@include breakpoint($tablet) {
		@include container;
		padding: 0 rhythm(2);
	}

	// DESKTOP

	@include breakpoint($desktop) {
		padding: 0 rhythm(3);
	}

	// WIDESCREEN

	@include breakpoint($widescreen) {
		padding: 0 rhythm(0);
	}


}