.site-header {
	padding-top: rhythm(.5);
	padding-bottom: rhythm(.5);

	// TABLET

	@include breakpoint($tablet) {
		padding-top: rhythm();
		padding-bottom: rhythm();
	}
}

.site-logo {
	display: block;
	@extend %clearfix;
	float: left;
	line-height: 0;
	&__svg {
		fill: $base-color;
		width: 52px;
	}

	// TABLET

	@include breakpoint($tablet) {
		&__svg {
			width: initial;
		}
	}

}

.site-header-wrapper {
	background-color: #fff;
	border-bottom: 1px solid rgba($base-color, .1);
}
