.main-nav {
	@extend %mb-0;
	float: right;
	&__item {
		display: inline-block;
		font-family: 'proxima-nova-regular';
		font-size: ms(-2);
		margin-left: rhythm(.5);
		&:first-child { margin-left: 0; }
	}
	&__link {
		color: $base-color;
		text-decoration: none;
		&:visited { color: $base-color; }
		&.current, &:hover { text-decoration: underline; }
	}

	// TABLET
	
	@include breakpoint($tablet) {
		&__item {
			font-size: ms(-1);
			margin-left: rhythm();
			&:first-child { margin-left: 0; }
		}
	}
}