.article {
	@extend %clearfix;
	&__section-title {
		color: lighten($base-color, 50%);
		font-size: ms(1);
	}
	&__content-block {
		@extend %clearfix;
		margin-bottom: rhythm(2);
	}
	&__content-title {
		font-size: ms(2);
		margin-bottom: rhythm(.5);
	}
	&__content-meta {
		font-size: ms(-1)
	}
	&__content-detail {
		&:last-child { margin-bottom: 0; }
	}

	// TABLET

	@include breakpoint($tablet) {
		width: span(9);
		margin: 0 auto;
		&__content-block { margin-bottom: rhythm(3); }
		&__content-detail {
			@include span(12);
			@include break;
		}
	}
}
