.faux-table {
	&__column {
		float: left;
		margin-right: rhythm(2);
		&:last-child .faux-table__column-list { margin-bottom: 0; }
	}
	&__column-header {
		border-bottom: 1px solid $base-color;
		margin-bottom: rhythm(.5);
		padding-bottom: rhythm(.5);
	}
	&__column-list {
		font-size: ms(-1);
		margin-bottom: rhythm(2);
	}

	// TABLET 

	@include breakpoint($tablet) {
		&__column-list {
			margin-bottom: 0;
		}
	}
}