.gallery {
	@extend %clearfix;
	&__title { @extend h5; }
	&__collection {
		@extend %clearfix;
		margin-bottom: rhythm(3);
	}
	&:last-child .gallery__collection { margin-bottom: 0; }
	&__item { 
		@include span(4 of 4);
		margin-bottom: rhythm();
		@include breakpoint($tablet) { @include gallery(4 of 12); }
		@include breakpoint($desktop) { 
			@include gallery(4 of 12); 
			margin-bottom: rhythm(2);
		}
	}
	&__item-5 {
		@include gallery(3 of 9);
		line-height: 0;
		margin-bottom: rhythm(.5);
	}
	&__item-4 {
		@include gallery(2 of 4);
		line-height: 0;
	}
	&__image { 
		max-width: 100%;
		height: auto;
		background: #fff;
		box-shadow: 0px 0px 2px rgba(0,0,0,.3);
		padding: rhythm(.25);
	}
	&__image-title {
		display: block;
		font-size: ms(-1);
		//line-height: 13px;
	}
	&__image-meta {
		color: grey;
		display: block;
		font-size: ms(-2);
		line-height: 13px;
		letter-spacing: .03rem;
	}

	// TABLET

	@include breakpoint($tablet) {
		&__collection { margin-bottom: rhythm(4); }
		&__item-5 {
			@include gallery(2 of 10);
			margin-bottom: rhythm();
		}
		&__item-4 {
			@include gallery(3 of 12);
			margin-bottom: rhythm();
		}
		&__image {
			padding: rhythm(.5);
			margin-bottom: rhythm(.25);
		}
	}
}